$headingColor: #893c00;
$bodyBackground: #dcbb9a;
$contentBackground: #ffffff;
$imgBorderColor: #893c00;
$theadBackground: #e0e0e0;
$linkColor: #3d70aa;
$paragColor: #000000;
$briefBG: #fadcba;
$buttonColor: #3d70a1;
$labelColor: #000000;
