$headingColor: #fccd10;
$bodyBackground: #e0f6fd;
$contentBackground: #3b3b3b;
$imgBorderColor: #fccd10;
$theadBackground: #94a34e;
$tbodyBackground: #677d01;
$linkColor: #f5c70f;
$paragColor: #ffffff;
$briefBG: #fff178;
$buttonColor: #fccd10;
$labelColor: #fccd10;
